@model IEnumerable<YogamedAppRole.Models.YogaTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YogaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YogaStep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ydfk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YogaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YogaStep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ydfk.DiseaseId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.YogaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.YogaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.YogaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
